<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>JIJITANG</title>
		<link rel="stylesheet" href="themes/jquery.mobile-1.4.4.css">
        <link rel="stylesheet" href="mobile-style.css">

		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile.structure-1.4.0.min.css" />
		<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        
         <style id="center">
		.center {
			text-align: center;
		}
	</style>
    
	</head>
	<body ng-app ng-controller="todoCtrl">
	<div data-role="page" class="jqm-demos" id="panel-fixed-page1" data-title="Panel fixed positioning">

    <div data-role="header" data-position="fixed" class="mobile-header">
        <h1>JIJITANG</h1>
        <a href="#nav-panel" data-icon="bars" data-iconpos="notext" class="ui-nodisc-icon">Menu</a>
        <a href="#add-form" data-icon="gear" data-iconpos="notext" class="ui-nodisc-icon">Add</a>
    </div><!-- /header -->

	<div data-demo-html="true" data-demo-css="#center" style="background:#eee">
            <div class="ui-grid-d center">
                <div class="ui-block-a"><a class="ui-shadow ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext ui-btn-inline ">Button</a></div>
                <div class="ui-block-b"><a class="ui-shadow ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext ui-btn-inline">Button</a></div>
                <div class="ui-block-c"><a class="ui-shadow ui-btn ui-corner-all ui-icon-tag ui-btn-icon-notext ui-btn-inline">Button</a></div>
                <div class="ui-block-d"><a data-position-to="window" data-transition="pop" href="#addtopopup" data-rel="popup" class="ui-shadow ui-btn ui-corner-all ui-icon-bullets ui-btn-icon-notext ui-btn-inline">Button</a></div>
                <div class="ui-block-e"><a  data-position-to="window" data-transition="pop" href="#sharepopup" data-rel="popup" class="ui-shadow ui-btn ui-corner-all ui-icon-forward ui-btn-icon-notext ui-btn-inline">Button</a></div>
            </div>
        </div><!--/demo-html -->



<div data-role="popup" id="addtopopup" data-theme="a" data-overlay-theme="b" >
					<ul data-role="listview" data-inset="true" style="min-width:210px;">
						<li data-role="list-divider">Choose an action</li>
						<li><a href="#">View details</a></li>
						<li><a href="#">Edit</a></li>
						<li><a href="#">Disable</a></li>
						<li><a href="#">Delete</a></li>
					</ul>
			</div>
            
            <div data-role="popup" id="sharepopup" data-theme="a" data-overlay-theme="b" >
					<ul data-role="listview" data-inset="true" style="min-width:210px;">
						<li data-role="list-divider">Select a network</li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Wechat</a></li>
						<li><a href="#">Weibo</a></li>
                        <li><a href="#">Douban</a></li>
					</ul>
			</div>

    <div role="main" class="ui-content jqm-content jqm-fullwidth">

    	<h2>Title of the article</h2>

        <div class="mobile-section-holder">
        <a href="#view-comments" role="button" class="ui-btn ui-icon-comment ui-btn-icon-notext mobile-comment-icon ui-corner-all" data-transition="slide">Icon only</a>
        
        <p>This is a typical page that has two buttons in the header bar that open panels. The left panel has the push display mode. The right panel opens as overlay. For both panels we set <code>data-position-fixed="true"</code>. We also set position fixed for the header and footer on this page.</p>

        <p>The left panel contains a long menu to demonstrate that the framework will check the panel contents height and unfixes the panel so its content can be scrolled. In the right panel there is a short form that shows the fixed positioning.</p>
        
        </div>

		<div data-demo-html="#panel-fixed-page1"></div><!--/demo-html -->

        <br>
        <br>
        <br>
        <br>
        <br>

        <a href="../" data-rel="back" data-ajax="false" class="ui-btn ui-shadow ui-corner-all ui-mini ui-btn-inline ui-icon-carat-l ui-btn-icon-left ui-alt-icon ui-nodisc-icon">Back</a>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      

        <p>We made the page a bit longer because you only see the panel fixed positioning if you can scroll the page :-)</p>

	</div><!-- /content -->

    <div data-role="footer" data-position="fixed" class="mobile-footer">
    	<h4>Fixed footer</h4>
    </div><!-- /footer -->

	<div data-role="panel" data-position-fixed="true" data-display="push" data-theme="b" id="nav-panel">

		<ul data-role="listview">
            <li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
                <li><a href="#panel-fixed-page2">Abstract</a></li>
                <li><a href="#panel-fixed-page2">Introduction</a></li>
                <li><a href="#panel-fixed-page2">Results</a></li>
                <li><a href="#panel-fixed-page2">Possibilities</a></li>
                <li><a href="#panel-fixed-page2">Conclusion</a></li>
                <li><a href="#panel-fixed-page2">References</a></li>
                
                
		</ul>

	</div><!-- /panel -->

	<div data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" data-theme="a" id="add-form">

        <form class="userform">

        	<h2>Login</h2>

            <label for="name">Username:</label>
            <input type="text" name="name" id="name" value="" data-clear-btn="true" data-mini="true">

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" value="" data-clear-btn="true" autocomplete="off" data-mini="true">

            <div class="ui-grid-a">
                <div class="ui-block-a"><a href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-b ui-mini">Cancel</a></div>
                <div class="ui-block-b"><a href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">Save</a></div>
			</div>
        </form>

	</div><!-- /panel -->

</div><!-- /page -->
<div data-role="page" data-dialog="true" id="view-comments">



		<div data-role="header" data-theme="b">
		<h1>Comments(23)</h1>
		</div>
        
        

		<div role="main" class="ui-content">
        <form ng-submit="todoAdd()">
    <textarea type="text" ng-model="todoInput" size="50" placeholder="Write a Comment"></textarea>
    <input type="submit" value="Add New">
</form>

<br>

<div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
</div>

<p><button ng-click="remove()">Remove marked</button></p>

<script>
function todoCtrl($scope) {
    $scope.todoList = [{todoText:'Clean House', done:false}];

    $scope.todoAdd = function() {
        $scope.todoList.push({todoText:$scope.todoInput, done:false});
        $scope.todoInput = "";
    };

    $scope.remove = function() {
        var oldList = $scope.todoList;
        $scope.todoList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.todoList.push(x);
        });
    };
}
</script>
		
		</div>
	</div>



	</body>
</html>
